:root {
  --umbc-gold: #fdb515;
  --umbc-black: #000000;
  --umbc-highlight: #fedd93;
  --umbc-red: #da2128;
  --umbc-light-gray: #c7c8ca;
  --umbc-aok-teal: #007176;
  --umbc-retriever-brown: #a67a05;
  --umbc-dark-gray: #636466;
}

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.reports-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: 90vh;
  margin: auto;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.reports-container h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: var(--umbc-gold);
  border-radius: 0.5rem;
}

.report-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font-size: 24px;
}
