:root {
  --umbc-gold: #fdb515;
  --umbc-black: #000000;
  --umbc-highlight: #fedd93;
}

* {
  font-family: Inter, sans-serif;
}

.nav-bar {
  display: flex;
  background: var(--umbc-gold);
  font-size: 24px;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 0.25rem;
  height: auto;
  max-width: 80%;
}

.link {
  color: var(--umbc-black);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 5px;
}

.link:hover {
  color: var(--umbc-black);
  text-underline-offset: 2px;
  background: var(--umbc-highlight);
}
